resolver ${DNS_RESOLVER} valid=10s;

server {
    listen 80;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location /api/v1/ventas {
        set $upstream_ventas ${VENTAS_UPSTREAM};
        proxy_pass http://$upstream_ventas;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /api/v1/despachos {
        set $upstream_despachos ${DESPACHOS_UPSTREAM};
        proxy_pass http://$upstream_despachos;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}